<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.notionquickadd</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>2606B0EC-737C-4051-843A-4BD323FFE9A9</key>
		<array/>
		<key>2E6C30C3-81DC-4CCB-941C-DE1F17375D68</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8AC2D3FB-5295-4FD3-A4EB-078BC9578DA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E01A229-5A85-446C-8806-85391BEFF8F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E8BD0671-6299-402B-BDE9-6BF9838EC712</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6E190D68-77F2-44EC-8EC6-FCD8CD72E0E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E190D68-77F2-44EC-8EC6-FCD8CD72E0E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9A4EEF55-F486-4164-97CA-A8591FD0D032</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7BE1EDBE-5966-4521-BD97-D299C48833ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB1E8306-39C1-4DF4-88C5-022A48EEE58B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3E01A229-5A85-446C-8806-85391BEFF8F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8AC2D3FB-5295-4FD3-A4EB-078BC9578DA2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB1E8306-39C1-4DF4-88C5-022A48EEE58B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F916397E-4FE8-45A9-BCAC-7D7FAF6A2E9F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9A4EEF55-F486-4164-97CA-A8591FD0D032</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2E6C30C3-81DC-4CCB-941C-DE1F17375D68</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DA14344F-8568-425E-9D45-548FF0F0E16C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>52D57ADD-3C54-4B4A-9CCC-11EB7CC6F724</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>BB52F629-1D78-42CD-8605-03FFEBAC3BB5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E81B4619-E096-4746-B144-3F35920CF317</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>19B6FE12-D02C-4F73-836D-3A52C6F42550</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9F8DCFF3-A2BA-4499-B819-BAA7930601F8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7BE1EDBE-5966-4521-BD97-D299C48833ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A83DF413-2EFA-4B8A-996E-6B77DA30C9CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>52D57ADD-3C54-4B4A-9CCC-11EB7CC6F724</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>BB52F629-1D78-42CD-8605-03FFEBAC3BB5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E81B4619-E096-4746-B144-3F35920CF317</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>19B6FE12-D02C-4F73-836D-3A52C6F42550</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ADF0234B-71FA-4050-9C78-560E37E792F0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9F8DCFF3-A2BA-4499-B819-BAA7930601F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C0423914-AC5C-45BB-863E-04329E58E5FC</key>
		<array/>
		<key>D1B4F4DC-E106-48AC-A4F2-1472D3D72A53</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A83DF413-2EFA-4B8A-996E-6B77DA30C9CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D82C2722-AABA-4604-B368-48AF183D3395</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4646EAF8-47A9-4D4C-9E0F-F92BA22432B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D1B4F4DC-E106-48AC-A4F2-1472D3D72A53</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E2898CEA-D8EE-4E08-9E30-850DBE395E3B</key>
		<array/>
		<key>E81B4619-E096-4746-B144-3F35920CF317</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4DE2DDD1-8D66-4750-BCA5-DCF4427E32B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8BD0671-6299-402B-BDE9-6BF9838EC712</key>
		<array/>
		<key>F916397E-4FE8-45A9-BCAC-7D7FAF6A2E9F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D82C2722-AABA-4604-B368-48AF183D3395</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Paulo Portella</string>
	<key>description</key>
	<string>Easily capture data into your Notion task inbox</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Notion Quick Add</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>:ns</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Saving...</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>098C3BEF-23E6-41DF-B37F-F775C1D8166D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>:</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Add to Inbox</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9F8DCFF3-A2BA-4499-B819-BAA7930601F8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>45</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>N</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>ADF0234B-71FA-4050-9C78-560E37E792F0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>title</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7BE1EDBE-5966-4521-BD97-D299C48833ED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>:ns</string>
				<key>leftcursor</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.showalfred</string>
			<key>uid</key>
			<string>DB1E8306-39C1-4DF4-88C5-022A48EEE58B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$*"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3E01A229-5A85-446C-8806-85391BEFF8F1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Content added to page</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4646EAF8-47A9-4D4C-9E0F-F92BA22432B3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node addContentToPage.js "$*"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D82C2722-AABA-4604-B368-48AF183D3395</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Entry added to Inbox!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E8BD0671-6299-402B-BDE9-6BF9838EC712</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8AC2D3FB-5295-4FD3-A4EB-078BC9578DA2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>DATABASE_ID</key>
					<string>{var:DATABASE_ID}</string>
					<key>pageDataId</key>
					<string>{var:pageDataId}</string>
					<key>pageID</key>
					<string>{var:pageID}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F916397E-4FE8-45A9-BCAC-7D7FAF6A2E9F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Copy to clipboard","arg":"copyToClipboard"},{"title":"Open in the browser","arg":"openInBrowser"}]</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>What would like to do next?</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>D1B4F4DC-E106-48AC-A4F2-1472D3D72A53</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Add content","arg":"addContent"},{"title":"Copy to clipboard","arg":"copyToClipboard"},{"title":"Open in the browser","arg":"openInBrowser"}]</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>What would like to do next?</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>6E190D68-77F2-44EC-8EC6-FCD8CD72E0E5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>pageDataId</key>
					<string>{var:pageDataId}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2E6C30C3-81DC-4CCB-941C-DE1F17375D68</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>addContent</string>
						<key>outputlabel</key>
						<string>addContent</string>
						<key>uid</key>
						<string>DA14344F-8568-425E-9D45-548FF0F0E16C</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>copyToClipboard</string>
						<key>outputlabel</key>
						<string>copyToClipboard</string>
						<key>uid</key>
						<string>19B6FE12-D02C-4F73-836D-3A52C6F42550</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>openInBrowser</string>
						<key>outputlabel</key>
						<string>openInBrowser</string>
						<key>uid</key>
						<string>BB52F629-1D78-42CD-8605-03FFEBAC3BB5</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>9A4EEF55-F486-4164-97CA-A8591FD0D032</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>copyToClipboard</string>
						<key>outputlabel</key>
						<string>copyToClipboard</string>
						<key>uid</key>
						<string>19B6FE12-D02C-4F73-836D-3A52C6F42550</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>openInBrowser</string>
						<key>outputlabel</key>
						<string>openInBrowser</string>
						<key>uid</key>
						<string>BB52F629-1D78-42CD-8605-03FFEBAC3BB5</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>A83DF413-2EFA-4B8A-996E-6B77DA30C9CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:pageURL}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>52D57ADD-3C54-4B4A-9CCC-11EB7CC6F724</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:pageURL}</string>
				<key>title</key>
				<string>Copied to clipboard!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4DE2DDD1-8D66-4750-BCA5-DCF4427E32B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:pageURL}</string>
				<key>ignoredynamicplaceholders</key>
				<true/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E81B4619-E096-4746-B144-3F35920CF317</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>111</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Submiting...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$title"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Update available: 0.0.1 → 1.1.0. Run `npm install -g alfred-notion`</string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C0423914-AC5C-45BB-863E-04329E58E5FC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>||</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>E2898CEA-D8EE-4E08-9E30-850DBE395E3B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>set title to (system attribute "split1")
set content to (system attribute "split2")


do shell script "source ~/.profile; " &amp; "nac " &amp; title's quoted form &amp; " " &amp; content's quoted form</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2606B0EC-737C-4051-843A-4BD323FFE9A9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>098C3BEF-23E6-41DF-B37F-F775C1D8166D</key>
		<dict>
			<key>xpos</key>
			<integer>795</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>2606B0EC-737C-4051-843A-4BD323FFE9A9</key>
		<dict>
			<key>xpos</key>
			<integer>535</integer>
			<key>ypos</key>
			<integer>2540</integer>
		</dict>
		<key>2E6C30C3-81DC-4CCB-941C-DE1F17375D68</key>
		<dict>
			<key>xpos</key>
			<integer>615</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>3E01A229-5A85-446C-8806-85391BEFF8F1</key>
		<dict>
			<key>xpos</key>
			<integer>355</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>4646EAF8-47A9-4D4C-9E0F-F92BA22432B3</key>
		<dict>
			<key>xpos</key>
			<integer>1240</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>4DE2DDD1-8D66-4750-BCA5-DCF4427E32B1</key>
		<dict>
			<key>xpos</key>
			<integer>855</integer>
			<key>ypos</key>
			<integer>680</integer>
		</dict>
		<key>52D57ADD-3C54-4B4A-9CCC-11EB7CC6F724</key>
		<dict>
			<key>xpos</key>
			<integer>755</integer>
			<key>ypos</key>
			<integer>515</integer>
		</dict>
		<key>6E190D68-77F2-44EC-8EC6-FCD8CD72E0E5</key>
		<dict>
			<key>xpos</key>
			<integer>355</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>7BE1EDBE-5966-4521-BD97-D299C48833ED</key>
		<dict>
			<key>xpos</key>
			<integer>455</integer>
			<key>ypos</key>
			<integer>95</integer>
		</dict>
		<key>8AC2D3FB-5295-4FD3-A4EB-078BC9578DA2</key>
		<dict>
			<key>xpos</key>
			<integer>755</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>9A4EEF55-F486-4164-97CA-A8591FD0D032</key>
		<dict>
			<key>xpos</key>
			<integer>355</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>9F8DCFF3-A2BA-4499-B819-BAA7930601F8</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>A83DF413-2EFA-4B8A-996E-6B77DA30C9CE</key>
		<dict>
			<key>xpos</key>
			<integer>1045</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>ADF0234B-71FA-4050-9C78-560E37E792F0</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>C0423914-AC5C-45BB-863E-04329E58E5FC</key>
		<dict>
			<key>xpos</key>
			<integer>185</integer>
			<key>ypos</key>
			<integer>2335</integer>
		</dict>
		<key>D1B4F4DC-E106-48AC-A4F2-1472D3D72A53</key>
		<dict>
			<key>xpos</key>
			<integer>1040</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>D82C2722-AABA-4604-B368-48AF183D3395</key>
		<dict>
			<key>xpos</key>
			<integer>1040</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>DB1E8306-39C1-4DF4-88C5-022A48EEE58B</key>
		<dict>
			<key>xpos</key>
			<integer>685</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
		<key>E2898CEA-D8EE-4E08-9E30-850DBE395E3B</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>2490</integer>
		</dict>
		<key>E81B4619-E096-4746-B144-3F35920CF317</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>680</integer>
		</dict>
		<key>E8BD0671-6299-402B-BDE9-6BF9838EC712</key>
		<dict>
			<key>xpos</key>
			<integer>515</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>F916397E-4FE8-45A9-BCAC-7D7FAF6A2E9F</key>
		<dict>
			<key>xpos</key>
			<integer>945</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>DATABASE_ID</key>
		<string>aed5148908a44f07ba30014f7d561eef</string>
		<key>NOTION_TOKEN</key>
		<string>secret_37sOVJ1rPhvaWzNS2mnlqjEleKeDEplQddY5z46HSZd</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>DATABASE_ID</string>
		<string>NOTION_TOKEN</string>
	</array>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
